footer.container.py-5
  .row  
    .col-md-6
      nav.nav.justify-content-center.justify-content-md-start.tagline 
            a(href="/nosotros", class="nav-link") Nosotros
            a(href="/viajes", class="nav-link") Viajes
            a(href="/testimoniales", class="nav-link") Testimoniales
    .col-md-6
      .copyright.text-center.text-md-right.tagline
        |  &copy;
        span= fechaActual 
        a(href="https://github.com/Guille0197/agenciaViajes_deployment", target="_blank", id="nameFooter")  Guillermo Navarro  
  .links.text-center.text-md-righ.tagline
      a(href='https://github.com/Guille0197/agenciaViajes_deployment', target="_blank")
        i.socialnet.fab.fa-github
      a(href='https://twitter.com/gan01_97', target="_blank")
        i.socialnet.fab.fa-twitter 
      a(href='https://bit.ly/368gxcL', target="_blank")
        i.socialnet.fab.fa-linkedin
  script.
    ScrollReveal().reveal('.tagline', { delay: 300 })