footer.container.py-5
  .row  
    .col-md-6
      nav.nav.justify-content-center.justify-content-md-start 
            a(href="/nosotros", class="nav-link") Nosotros
            a(href="/viajes", class="nav-link") Viajes
            a(href="/testimoniales", class="nav-link") Testimoniales
    .col-md-6
      p.copyright.text-center.text-md-right
        | Todos los Derechos Reservados 
        span= fechaActual 