<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    // CSS only
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:wght@400;700&family=Staatliches&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css', integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p', crossorigin='anonymous')
    link(rel="stylesheet", href="/css/style.css")
    script(src='https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js') // library de scroll
    title #{titulo} | #{pagina}
  body(class=clase)
    include includes/header
    block slider
    block contenido
    include includes/footer