extends ../layout/index
block slider
  .slider.headline
    h1.punchline Rio de Janeiro
    em.tagline aventura

block contenido
  main.container.mt-5.tagline
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Praesent tincidunt ante at justo semper volutpat. Sed risus neque, scelerisque id dictum in, placerat non erat. Sed eget tellus eu mauris faucibus pharetra. Praesent vulputate diam ac diam dignissim, eu semper turpis gravida. Vestibulum tempor purus orci, vitae ullamcorper erat congue quis. Nullam dapibus dui a velit lacinia, eu cursus massa cursus. 
        p Morbi lobortis fermentum urna, quis tincidunt justo varius vitae. In justo nisl, auctor vel eros sed, tempus efficitur lacus. Maecenas volutpat pharetra dolor, nec rutrum ipsum dapibus id. Mauris ultricies augue lectus, efficitur tincidunt enim euismod non. Praesent nisl elit, eleifend et eleifend eu, venenatis et felis. Donec eleifend mi in congue semper.
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", class="img-fluid")

    h2.text-center.mb-5 Próximos Viajes
    include ../layout/partials/viajes

  .descuento.tagline  
    .container
      .row
        .col-md-6
          .contenido  
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de Agosto de 2020 - 1 Septiembre de 2020
            p.precio $2000.00

  .container.tagline  
    h2.text-center.my-5 Testimoniales
    include ../layout/partials/testimoniales
  script.
    ScrollReveal().reveal('.headline')
    ScrollReveal().reveal('.tagline', { delay: 500 })
    ScrollReveal().reveal('.punchline', { delay: 700 })